/* Start Variable */
:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --first-font: "Montserrat", sans-serif;
  --second-font: "Fraunces", serif;
}

/* End Variable */
/* Start Global Rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}


/* End Global Rules */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Cream);
}

main {
  width: 600px;
  height: 450px;
  display: flex;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.image {
  flex-basis: 50%;
}

.image img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}



.text {
  background-color: white;
  padding: 25px;
  flex-basis: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}


.text h1 {
  color: var(--Dark-grayish-blue);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: var(--first-font);
  letter-spacing: 4px;
  font-weight: lighter;
}

.text h2 {
  color: var(--Very-dark-blue);
  font-size: calc(34rem / 16);
  font-family: var(--second-font);
  line-height: .9;
  padding: 10px 0;
}

.text p {
  color: var(--Dark-grayish-blue);
  font-size: 0.9375rem;
  font-family: var(--first-font);
  line-height: 1.6;
  margin-top: calc(10rem / 16);
}

@media (width <=787px) {
  body {
    flex-direction: column;
  }

  main {
    width: 375px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .image img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .text {
    padding: calc(20rem / 16);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .text h1 {
    font-size: calc(14rem /16);
    letter-spacing: 4px;
  }

  .text h2 {
    font-size: calc(34rem / 16);
    padding: 5px 0;

  }

  .text p {
    font-size: calc(16rem / 16);
    line-height: 1.6;
  }
}

.price {
  display: flex;
  align-items: center;
  padding: calc(20rem / 16) 0;
}

.price span:first-of-type {
  color: var(--Dark-cyan);
  font-size: calc(35rem / 16);
  font-family: var(--second-font);
  margin-right: calc(16rem / 16);
}

.price span:last-of-type {
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
  font-family: var(--first-font);
  font-size: calc(14rem / 16);
}

button {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--Dark-cyan);
  border-color: transparent;
  color: white;
  font-family: var(--first-font);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: hsl(158, 27%, 18%);
}

i {
  padding-right: 10px;
}